body {
    background-color: gainsboro;
    margin: 0;
}
header {
    background-color: white;
    padding: 5px;
    text-align: center;
}
.post {
    background-color: white;
    margin: auto;
    width: 600px;
    border-radius: 10px;
}
.post img {
    width: 100%;
}
h2, p {
    padding: 10px;
}
.post-header {
    display: flex;
    margin-top: 15px;
}
h2{
    width: 80%;
}
span {
    margin: auto;
    margin-right: 10px;
    color: gray
}
p{
    margin-bottom: 20px;
    margin-top: 0;
}